<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>음식점 주문[고객]</title>
</head>
<body>
<h2>카테고리 선택</h2>

<div>
    <a th:href="@{/client/stores(category='한식')}">한식</a>
    <a th:href="@{/client/stores(category='일식')}">일식</a>
    <a th:href="@{/client/stores(category='중식')}">중식</a>
    <a th:href="@{/client/stores(category='양식')}">양식</a>
    <a th:href="@{/client/stores(category='패스트푸드')}">패스트푸드</a>
    <a th:href="@{/client/stores(category='기타')}">기타</a>
</div>

</body>
</html>