<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>음식점 주문[고객]</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>

<h2 th:text="${store.name}"></h2>

<form th:action="@{/client/order}" method="post">
    <input type="hidden" name="storeId" th:value="${store.storeId}">

    <table>
        <tr>
            <th>메뉴</th>
            <th>가격</th>
            <th>수량</th>
        </tr>

        <tr th:each="menu : ${menus}">
            <td th:text="${menu.name}"></td>
            <td th:text="${menu.price}"></td>
            <td>
                <input type="number" name="quantities" min="0" value="0">
                <input type="hidden" name="menuIds" th:value="${menu.menuId}">
            </td>
        </tr>
    </table>

    <button type="submit">주문하기</button>
</form>

<a th:href="@{/client/home}">메인으로</a>

</body>
</html>
