<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>음식점 주문[점주]</title>
</head>
<body>
<form th:action="@{/seller/menu/register}" method="post">
    <input type="hidden" name="storeId" th:value="${storeId}">

    <div>
        <label>메뉴 이름</label>
        <input type="text" name="name" required>
    </div>

    <div>
        <label>가격</label>
        <input type="number" name="price" required>
    </div>

    <button type="submit">메뉴 등록</button>
</form>
<a th:href="@{/seller/home}">메인으로</a>
</body>
</html>