<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>판매 통계</title>
  <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<div class="total">
  총 판매금액 :
  <span th:text="${#numbers.formatInteger(totalSales, 0, 'COMMA')}"></span> 원
</div>

<table th:if="${menuSalesList != null}">
  <thead>
  <tr>
    <th>메뉴명</th>
    <th>판매 건수</th>
    <th>판매 금액</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="row : ${menuSalesList}">
    <td th:text="${row.menuName}"></td>
    <td th:text="${row.saleCount}"></td>
    <td th:text="${#numbers.formatInteger(row.saleAmount, 0, 'COMMA')}"></td>
  </tr>
  </tbody>
</table>

<div th:if="${menuSalesList == null or #lists.isEmpty(menuSalesList)}">
  <p>아직 주문 내역이 없습니다.</p>
</div>

<table>
  <tr>
    <th>주문번호</th>
    <th>가게</th>
    <th>주문시간</th>
    <th>총 금액</th>
  </tr>

  <tr th:if="${orders == null or #lists.isEmpty(orders)}">
    <td colspan="5">아직 주문 내역이 없습니다.</td>
  </tr>

  <tr th:each="order : ${orders}">
    <td th:text="${order.orderId}"></td>
    <td th:text="${order.storeName}"></td>
    <td th:text="${#temporals.format(order.orderTime, 'yyyy-MM-dd HH:mm')}"></td>
    <td th:text="${#numbers.formatInteger(order.totalPrice, 3, 'COMMA')}"></td>
    <td>
      <a th:href="@{/seller/order/{id}(id=${order.orderId})}" class="btn">
        상세보기
      </a>
    </td>
  </tr>
</table>
<a th:href="@{/seller/home}">메인으로</a>

</body>
</html>
