<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.astb.order.domain.menu.MenuMapper">
    <insert id="insertMenu">
        INSERT INTO menu_t (s_id, m_name, m_price, m_active)
        VALUES (#{storeId}, #{name}, #{price}, true)
    </insert>

    <select id="findById" resultType="com.astb.order.domain.menu.Menu">
        SELECT
        m_id AS menuId,
        s_id AS storeId,
        m_name AS name,
        m_price AS price
        FROM menu_t
        WHERE m_id = #{menuId}
                     AND m_active = true
    </select>

    <select id="findByStoreId" resultType="com.astb.order.domain.menu.Menu">
        SELECT
        m_id AS menuId,
        s_id AS storeId,
        m_name AS name,
        m_price AS price,
        m_active AS active
        FROM menu_t
        WHERE s_id = #{storeId}
        ORDER BY m_id
    </select>

    <update id="update">
        UPDATE menu_t
        SET m_name = #{name}, m_price = #{price} WHERE m_id = #{menuId}
        AND m_active = true
    </update>

    <update id="delete">
        UPDATE menu_t
        SET m_active = false
        WHERE m_id = #{menuId}
    </update>

    <update id="active">
        UPDATE menu_t
        SET m_active = true
        WHERE m_id = #{menuId}
    </update>
</mapper>