<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.astb.order.domain.orderitem.OrderItemMapper">

    <insert id="insertOrderItem">
        INSERT INTO order_item_t
        (o_id, m_id, m_name, m_price, oi_cnt, oi_total)
        VALUES
        (#{orderId}, #{menuId}, #{menuName}, #{menuPrice}, #{quantity}, #{totalPrice})
    </insert>

    <select id="findByOrderId" resultType="com.astb.order.domain.orderitem.OrderItem">
        SELECT
        oi_id AS orderItemId,
        o_id AS orderId,
        m_id AS menuId,
        m_name AS menuName,
        m_price AS menuPrice,
        oi_cnt AS quantity,
        oi_total AS totalPrice
        FROM order_item_t
        WHERE o_id = #{orderId}
    </select>

</mapper>