<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.astb.order.domain.store.StoreMapper">
    <select id="findByUserId" resultType="com.astb.order.domain.store.Store">
        SELECT
        s_id AS storeId,
        u_id AS userId,
        s_name AS name,
        s_cate AS category
        FROM store_t
        WHERE u_id = #{userId}
    </select>

    <select id="findById" resultType="com.astb.order.domain.store.Store">
        SELECT
        s_id AS storeId,
        u_id AS userId,
        s_name AS name,
        s_cate AS category
        FROM store_t
        WHERE s_id = #{storeId}
    </select>

    <select id="findByCategory" resultType="com.astb.order.domain.store.Store">
        SELECT
        s_id AS storeId,
        u_id AS userId,
        s_name AS name,
        s_cate AS category
        FROM store_t
        WHERE s_cate = #{category}
        ORDER BY s_name
    </select>

    <select id="allStoreSales" resultType="com.astb.order.dto.AdminStoreDTO">
        SELECT
        s.s_id AS storeId,
        s.s_name AS name,
        s.s_cate AS category,
        s.u_id AS userId,
        IFNULL(SUM(o.o_total), 0) AS totalSales
        FROM store_t s
        LEFT JOIN order_t o ON s.s_id = o.s_id
        GROUP BY s.s_id, s.s_name, s.s_cate, s.u_id
        ORDER BY totalSales DESC
    </select>

    <insert id="insertStore">
        INSERT INTO store_t (u_id, s_name, s_cate)
        VALUES (#{userId}, #{name}, #{category})
    </insert>


</mapper>