<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.astb.order.domain.store.StoreMapper">
    <select id="findByUserId" resultType="com.astb.order.domain.store.Store">
        SELECT
        s_id AS storeId,
        u_id AS userId,
        s_name AS name,
        s_cate AS category
        FROM store_t
        WHERE u_id = #{userId}
    </select>

    <select id="findById"
            resultType="com.astb.order.domain.store.Store">
        SELECT
        s_id AS storeId,
        u_id AS userId,
        s_name AS name,
        s_cate AS category
        FROM store_t
        WHERE s_id = #{storeId}
    </select>

    <select id="findByCategory"
            resultType="com.astb.order.domain.store.Store">
        SELECT
        s_id AS storeId,
        u_id AS userId,
        s_name AS name,
        s_cate AS category
        FROM store_t
        WHERE s_cate = #{category}
        ORDER BY s_name
    </select>

    <insert id="insertStore">
        INSERT INTO store_t (u_id, s_name, s_cate)
        VALUES (#{userId}, #{name}, #{category})
    </insert>


</mapper>